body {
    font-family: "Hiragino Mincho Pro", "MS PMincho", "MS Mincho", "serif";
    margin: 0;
    padding: 0;
    background-image: url('images/Back.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #f0f8ff;
}

main {
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 60px;
}


#intro-image {
    height: 100vh;
    background-image: url('images/icon.png'); /* 適切な背景画像に置き換えてください */
    background-size: cover;
    background-position: center;
    opacity: 0; /* 初期状態では透明 */
    transition: opacity 2s ease-in; /* フェーズインのアニメーション */
}


#intro-image.visible {
    opacity: 1; /* アニメーション後の状態 */
}


#intro-container, #game-container, #ranking-container {
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#intro-container {
    margin-top: 50px;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: #000000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5f9ea0;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#timer, #score, #error-message {
    margin: 10px;
    font-size: 18px;
}

#error-message {
    color: red;
    font-weight: bold;
}

#completed-circles {
    position: absolute;
    left: -9999px;
}

#ranking-container {
    margin-top: 20px;
}

#ranking-list {
    list-style: none;
    padding: 0;
}

#ranking-list li {
    margin: 5px 0;
    font-size: 18px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #d3d3d3;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
}
